.card{
    background: white;
    border: 5px solid black;
    height: 20rem;
    margin: 1rem;
    width: 20rem;
    box-shadow: 5px;
}

.card > .img-container{
    height: 75%;
    overflow: hidden;
    text-align: center;
    text-emphasis: none;
    background: black;
}